[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.7"
django-cors-headers = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
requests = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
